/* Global styles */
@use 'app/shared/styles/buttons' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
